body{
    background-color: gray;
}
#head{
    background-color: white;
    width: 900px;
    height: 60px;
    margin-bottom:20px;
}
#about1{
    height:60px;
    background-color:teal;
    color:white;
    font-weight: bold;

}
.pic{
    padding-right:10px;
    margin-left:100px;
    float:left;
    width:200px;
    height:200px;
}
.aboutP{
    
margin-left:100px;
color:gray;
}
#links{
    margin-left:100px;
}
#about{
    font-weight:bold;
    color:teal;
}
.pics{
    width:200px;
    height:200px;
}